.userProfileImage{
    border-radius:50%;
    width:90%;
    max-width:200px;
    min-width:100px;
    margin:5px;
}

.userBannerImage{
    width:100%;
   
}

.userList{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-inline-start: 0;
}

.userListItem{
    margin:10px;
    list-style:none;
    padding-inline-start: 0px;
    border:2px solid #282c34;
    border-radius:30px;
    background-color:#282c34;
    width:200px;
    font-size:20px;
    color:#ff7b00;
   
    text-align:center;
}

.userLink{
     text-decoration: none;
}

// .userProfileImage{
//     border-radius:50%;
//     border:5px solid rgba(255,123,0,0.8);
//     width:90%;
//     max-width:200px;
//     min-width:100px;
//     position: relative;
//     top:-150px;
//     left:50px;
// }